.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-list__item {
    height: 92px;
    display: flex;

    @include mobile {
        width: calc((100% - 30px) / 2);
    }

    @include tablet{
        width: calc((100% - 60px) / 3);
    }
    
    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}

.clients-list__link {
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                color: var(--accent-color);
                border-color: var(--accent-color);
            }
}

.clients-list__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

