.header {
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: inherit;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}


.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }
}

.nav__link {
    @include font(14px, 500, 1.14, 0.02em);

    color: var(--title-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    &:hover,
    &:focus {
        color:var(--accent-color);
    }
}

.nav__link.current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0cm;
    bottom: -2px;
}

.current {
    color: var(--accent-color);
}


