.header {
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    width: 100%;
    
    min-height: 60px;

    @include tablet {
        min-height: 80px;
    }

    top: 0;
    left: 0;
    z-index: 10;
    background-color: inherit;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: none;

    @include tablet {
        display: flex;
        margin-left: 88px;
    }

    @include desktop {
        margin-left: 93px;
    }
}

.nav__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }
}

.nav__link {
    @include font(14px, 500, 1.14, 0.02em);

    color: var(--title-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color:var(--accent-color);
    }
}

.nav__link.current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0cm;
    bottom: -2px;
}

.current {
    color: var(--accent-color);
}

.menu-open-button {
    @extend %button;
    margin-left: auto;
    padding: 0;
    display: block;
    background: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            color: var(--accent-color);
    }

        @include tablet {
            display: none;
    }
}


.menu-open-icon {
    fill: currentColor;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    width: 100%;
    height: 100vh;

    padding-top: 10px;
    padding-bottom: 48px;
    
    >.container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-y: auto;
        padding-left: 40px;
    }
}

.menu-close-button {
    @extend %button;
    padding: 0;
    display: block;
    background: transparent;
    margin-left: auto;
    margin-bottom: 6px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
    }
}

.menu-close-icon {
    fill: currentColor;
}

.mob-menu-list {
    margin-bottom: 40px;
}

.mob-menu-list__item + .mob-menu-list__item {
    margin-top: 35px;
}

.mob-menu-list__link {
    @include font (40px, 500, 1.17,0.02em);
    
    color: var(--title-text-color);
}

.current {
    color: var(--accent-color);
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__item + .mob-contacts__item {
    margin-top: 32px;
}

.mob-contacts__tel {
    @include font (34px, 500, 1.17,0.02em);
    color: var(--accent-color);
}

.mob-contacts__email {
    @include font (24px, 500, 1.16, 0.02em);
    
    color:var(--primary-text-color);
}

.mob-social-list {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.mob-social-list__item {
    position: relative;
}

.mob-social-list__item:not(:last-child)::after {
    content:"";
    position: absolute;
    height: 22px;
    width: 1px;
    background-color:rgba(33, 33, 33, 0.2);
}

.mob-social-list__link {
    @include font (18px, 500, 1.22, 0.02em);
    color: var(--accent-color); 
    margin-right: 10px;
}


