.header {
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    width: 100%;
    
    min-height: 60px;

    @include tablet {
        min-height: 80px;
    }

    top: 0;
    left: 0;
    z-index: 10;
    background-color: inherit;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: none;

    @include tablet {
        display: flex;
        margin-left: 88px;
    }

    @include desktop {
        margin-left: 93px;
    }
}

.nav__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }
}

.nav__link {
    @include font(14px, 500, 1.14, 0.02em);

    color: var(--title-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color:var(--accent-color);
    }
}

.nav__link.current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0cm;
    bottom: -2px;
}

.current {
    color: var(--accent-color);
}

.menu-open-button {
    @extend %button;
    margin-left: auto;
    padding: 0;
    display: block;
    background: transparent;

    @include tablet {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    width: 100%;
    height: 100vh;

    padding: 40px 48px;
    
    >.container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        max-width: 386px;
        overflow-y: auto;
    }
}

.menu-close-button {
    @extend %button;
    padding: 0;
    display: block;
    background: transparent;
    top:10px;
    margin-left: auto;
    
}

.mob-menu-list {
    margin-bottom: 40px;
}


.mob-menu-list__item {
    @include font (40px,500,1.17,00.02em);

    color:var(--title-text-color);

    &+& {
        margin-top: 35px;
    }
}

.current {
    color: var(--accent-color);
}