.hero {
    background: var(--background-accent-color);
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
            max-width: 360px;
            padding: 0;
            @include desktop {
                max-width: 696px;
            }


        }
}


.hero__title {
    @include font(26px, 900, 1.6, 0.06em);
    text-transform: uppercase;

    color: var(--primary-white-color);

    margin-bottom: 30px;

    @include desktop {
        @include font(44px, 900, 1.4, null);
    }
}

