.hero {
    background: var(--background-accent-color);
    text-align: center;

    padding-top: 118px;
    padding-bottom: 118px;

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

        @include retina {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2),rgba(25, 28, 38, 0.2)),
                url(../images/hero-bg-mobile-2x.jpg);
        }

    @include tablet {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-tablet.jpg);
            @include retina {
                        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2),
                                rgba(25, 28, 38, 0.2)),
                            url(../images/hero-bg-tablet-2x.jpg);
                    
                    }
    }
    
    @include desktop {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-desktop.jpg);
            
                @include retina {
                        background-image: linear-gradient(to right,rgba(25, 28, 38, 0.2),
                                rgba(25, 28, 38, 0.2)),
                            url(../images/hero-bg-desktop-2x.jpg);
                    }
    }

    
    .container {
            max-width: 360px;
            padding: 0;
            @include desktop {
                max-width: 696px;
        }
    }
}


.hero__title {
    @include font(26px, 900, 1.6, 0.06em);
    text-transform: uppercase;

    color: var(--primary-white-color);

    margin-bottom: 30px;

    @include desktop {
        @include font(44px, 900, 1.4, null);
    }
}

