.services {
    padding-bottom: 94px;
    display: none;
    
    @include desktop {
        display: block;
    }
}

.services-list {
    display: flex;
    justify-content: center;
}

.services-list__item:not(:last-child) {
    margin-right: 30px;
}

.services-list__image {
    display: block;
    height: auto;
    min-width: 100%
}

.services-list__top-wrap {
    position: relative;
}

.services-list__top-text {
    @include font(14px, 700, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-white-color);

    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center
}