
.main-button {
    @include font(16px,700,1.9, 0.06em);

    @extend %button;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
    background-color: var(--accent-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.main-button--hero-form {
    @extend %button;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-button--footer {
    @extend %button;
    padding: 10px 29px;

    display: flex;
    align-items: center;
}

.main-button__icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}