.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;

    @include mobile {
        width: 480px;
    }
        @include tablet {
            width: 768px;
        }
                @include desktop {
                    width: 1200px;
                }
}

