.footer-contacts__link {
    @include font(14px, null, 1.7, 0.03em);
    color: var(--accent-white-color);
    font-style: normal;
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-link--white {
    color: var(--primary-white-color);
}

.header-contacts {
    display: none;

    @include tablet {
        display:flex;
        flex-direction: column;
        margin-left: auto;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item + &__item {
        @include tablet {
            margin-top: 10px;
        }

        @include desktop {
            margin-top: 0;
            margin-left: 50px;
        }
    }
}

.header-contacts__link {
        @include tablet {
        @include font (12px, 500, 1.16, 0.02em);
    }

    @include desktop {
        @include font (14px, 500, 1.4, 0.02em);
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    color: inherit;
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}