
.modal {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    padding: 40px;
    position: relative;
    overflow-y: auto;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    max-width: 450px;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
            transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
            position: absolute;
            left: 50%;
            top: 50%;
            width: 450px;
            height: 609px;
        }
    
    @include desktop {
            width: 528px;
            height: 581px;
            max-width: 528px;
        }

    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.9) rotateZ(270deg);
        }
}

.modal-close-btn {
    @extend %button;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.modal-title {
    @include font(20px,700, 1.15, 0.03em);
    text-align: center;

    color: var(--title-text-color);

    margin-bottom: 12px;
}


