.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.logo--black {
    color: var(--primary-black-color);
}

.logo--white {
    color: var(--primary-white-color);
}


.logo--accent {
    color: var(--accent-color);
}

.logo--header {
    display: block;
    padding: 24px 0;
}

.logo--footer {
    margin-bottom: 20px;
    display: inline-block;
}