.logo {
    font-family: 'Raleway', sans-serif;
    @include font (24px, 700, 1.16, 0.03em);

    @include desktop {
        @include font (26px,700,1.2,0.03em);
    }

    text-decoration: none;
}

.logo--black {
    color: var(--primary-black-color);
}

.logo--white {
    color: var(--primary-white-color);
}


.logo--accent {
    color: var(--accent-color);
}

.logo--header {
    display: block;
    padding: 16px 0;

    @include tablet{
        padding: 26px 0;
    }

    @include desktop {
        padding: 24px 0;
    }
}

.logo--footer {
    margin-bottom: 20px;
    display: inline-block;
}