
.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    
    &:last-child {
    margin-right: 0;
    }
}


.social-list__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social__link--team {
    background-color: var(--primary-white-color);
    color: var(--icon-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    }
}

.social__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);

    transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

