body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    padding-top: 60px;

    @include tablet {
        padding-top: 80px;
    }
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}