:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-button-hover: #188CE8;
    --primary-white-color: #ffffff;
    --accent-white-color: rgba(255, 255, 255, 0.6);
    --primary-black-color: #000000;
    --background-accent-color: #2F303A;
    --background-grey-color: #F5F4FA;
    --icon-color: #AFB1B8;
}